@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Space Grotesk", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.MuiDataGrid-cellContent[title="open"]{
	color: lightskyblue;
}

.MuiDataGrid-cellContent[title="applied"]{
	color: palegreen;
}

.MuiDataGrid-cellContent[title="uncertain"]{
	color: orange;
}

.MuiDataGrid-cellContent[title="declined"]{
	color: palevioletred;
}

.MuiDataGrid-cellContent[title="closed"]{
	color: darkgray;
}

.MuiDataGrid-cellContent[title="removed"]{
	color: lightgray;
}

.makeStyles-formControl-1 fieldset{
	border: none;
}

[data-field="status1"], [data-field="status1"] {
	padding: 0;
}