@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Space Grotesk", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.open-cell .MuiSelect-select{
	color: blue;
}

.applied-cell .MuiSelect-select{
	color: darkgreen;
}

.uncertain-cell .MuiSelect-select {
	color: orange;
}

.declined-cell .MuiSelect-select {
	color: palevioletred;
}

.closed-cell .MuiSelect-select {
	color: darkgray;
}

.removed-cell .MuiSelect-select {
	color: lightgray;
}

.makeStyles-formControl-1 fieldset{
	border: none;
}

[data-field="status1"], [data-field="status1"] {
	padding: 0;
}

dialog { 
	display: block !important; 
	top: 200px;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	width: 70vw;
	height: 60vh;
	overflow-y: auto;

	.close {
		position: fixed;
    transform: translate(140%, 10%);
    top: 22%;
    right: 22%;
    border: 1px solid grey;
    border-radius: 5%;
    background-color: #fff;
    padding: 5px;
    text-decoration: none;
	}

	img {
		max-width: 20%;
	}

	.show-more-less-html__button {
		opacity: 0;
	}
}

dialog:not(:target):not([open]) { display: none !important; }